body
{
    background-image: url(./Photos/image7.jpg);
    background-attachment: fixed;
}

nav
{
    padding: 10px 25px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}


/*-------Style anchor---------*/
nav a 
{
    text-decoration: none;
    padding: 10px 25px;
    color: black;

}

a:hover
{
    color: black;
    background:white;
    border-radius: 10px;
}

/*-------Style Heading---------*/
h2
{

    background-color: aqua;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    border-bottom: 5px double black;
    margin: 30px 40px 50px 60px;            /*----Top Right Buttom Lfet---Margin Value---    Percent % OR Px - (25px 30px 40px 50px)--*/  
    
}

h3
{
    
    margin: 90px 40px 60px;             /*------Apply Three Values------Top Right&Left Buttom------------*/
    border: 10px dotted black;           /*------Apply Border------*/
    padding: 20px 30px 40px 50px;           /*----Apply Four Side----------*/
    border-radius: 10px 20px 30px 40px;        /*-------Apply Four Border Radius-----*/
}

h4
{
    margin: 25px 50px;              /*---------Apply Two Value-------TopButtom------RightLeft----------*/
    border:3px solid black;
    padding: 20px 30px 50px;        /*------Apply Three Values------Top Right&Left Buttom------------*/
    border-radius: 10px 20px 30px;  /*------ Apply Thre Vlaue------*/
}
h5
{
    margin: 25px;                   /*----------------Apply All Side Four side VAlue------------*/
    border:10px dashed black;
    border-radius: 10px;            /*-----Aplly All side boreder------*/
    padding: 10px;             /*------Apply one Values------All Sides------------*/
    width: 110px;
}

h6
{
    padding: 10px;
    width: 110px;
    border:5px solid black;
    border-radius: 20px 20px;       /*-----Two Side---Curve Border-----*/
}

div
{
    margin-top: 10px;           
}

/*----style para1------*/

.para1
{
    background-image: url(./Photos/mgm4.JPG);
    padding: 10px;
    color: beige;
    border-radius: 15px 20px;
    box-shadow: 10px 10px 0 black;
    text-align: justify;
}

.para2
{
    border:5px solid black;
    border-radius: 60px 5px ;
    padding: 10px 25px;
    text-align: justify;
    background-color: ;
    background-image: url(./Photos/mgm4.JPG);
    background-repeat: no-repeat;
    background-position: center;


}


