body
{
    background-image: url(./Photos/laptop12.jpg);
    background-size: cover;                         <!----------full image>
}

div
{
    height: 100px;
}

h1
{
    box-shadow: 0 0 10px black;
    padding: 10px;
    border-radius: 20px;

}

h2
{
    box-shadow: 0 0 15px blue;
    padding: 15px;
    border-radius: 15px;

}

h3
{
    box-shadow: 0 0 15px lightcoral;
    padding: 5px;
    border-radius: 5px;

}

}