body
{
    background-image: url(./Photos/university1.jpg);
    background-attachment:fixed;
    
}

.heading1
{
    text-align: center;
}

.heading2
{
    text-align: center;
}

nav
{
    padding: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

nav a
{
    text-decoration: none;
    padding: 10px 50px;             /*---------Nav a Gap--------*/
    width: 50px;
    color: black;
}

a:hover
{
    color: blanchedalmond;
    background: cadetblue;
    border-radius: 10px ;
}

marquee
{
    border:5px double black;
    
}

.head
{
    /* border: solid black;
    background-color: blanchedalmond; */
}

section
{
    background-color:white;
    color:black;
    padding: 20px;
    margin:10px;
    border:5px solid black;
}

section article
{
    background: lightcyan;
    padding: 10px;
    margin: 20px;
    color:darkslategray;
    border: 5px solid black;
}

legend
{

    /* border: 1px solid black; */
}

fieldset
{
    background-color:lightgreen;
}

figure
{
    display: inline-block;
}

figcaption
{
    font-size: 20px;
    text-align: center;
}

.heading3
{
    text-align: center;
    border: black dotted;
    padding: 10px;
}

.para1
{
    background-image: url(./Photos/university2.jpg);
    color:white;
    padding: 30px;
    margin: 150px auto;
    border-radius: 10px 20px ;
    box-shadow: 10px 10px  black;
    text-align: justify;
}

.para2
{
    background-image: url(./Photos/mgmbachground.jpg);
    background-repeat: no-repeat;                           /*-----No repeat Image--------*/
    background-position: center;
    background-color:red;
    color:white;
    border: 3px solid black;
    padding: 30px;
    margin: 30px;
    text-align: justify;
    border-radius: 0px;                                /*----option----*/
    

}


.form-mgm
{
    background-color: rgba(255,255,255, .5);
    /* box-shadow: 0 0 20px black; */
    width: 800;      
    height: 600;     
    padding:15px;  
    text-align: center;
    border: 5px;
    border-style: solid;
    background-position: center;
    border-radius: 50px 50px;
    margin: 0px 200px;              /*------Right & Left------*/
}



footer
{
    margin: 20px;
    padding: 30px;
    text-align: center;
    background-color: lightpink;
    border:8px;
    border-style:double;
   
}

